/* styles.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}


body, h1, h2 {
    color: #0056b3; 
}


input, button {
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #007BFF; 
    border-radius: 5px;
    font-size: 16px;
    background-color: #efecec; 
    color: #000000; 
}

input:focus {
    border-color: #0056b3; 
    outline: none; 
}

button {
    background-color: #33b7e2;
    color: rgb(2, 2, 2); 
    cursor: pointer;
}

button:hover {
    background-color: #e3e1e8; 
}


ul { 
    list-style-type: none; 
    padding: 0; 
}
li { 
    background-color: rgba(59, 91, 219, 0.5);
    margin-bottom: 10px; 
    padding: 10px;
    border-radius: 5px;
}
.item-box { 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
}
.not-sold { 
    background-color: #90ee90; 
    border: 1px solid #2e851a;
}
.sold { 
    background-color: #ffcccb; 
    border: 1px solid #f30909;
}
